<!DOCTYPE html>
<html lang="en">
    <p>{{output}}</p>
    <p>{{checked}}</p>
    <form name="myForm" action="" method="post" onsubmit="">
        <p>Choose Fuel Categories</p>
        <input type="checkbox" name="categories" id="category1" value="Biodiesel (EV 1.5)">
        <label for="category1">Biodiesel (EV 1.5)</label><br>
        <input type="checkbox" name="categories" id="category2" value="Butanol (EV 1.3)">
        <label for="category2">Butanol (EV 1.3)</label><br>
        <input type="checkbox" name="categories" id="category3" value="Cellulosic Ethanol (EV 1.0)">
        <label for="category3">Cellulosic Ethanol (EV 1.0)</label><br>
        <input type="checkbox" name="categories" id="category4" value="Cellulosic Heating Oil (EV application required)">
        <label for="category4">Cellulosic Heating Oil (EV application required)</label><br>
        <input type="checkbox" name="categories" id="category5" value="LPG (EV 1.1)">
        <label for="category5">LPG (EV 1.1)</label><br>
        <input type="checkbox" name="categories" id="category6" value="Naphtha (EV 1.4)">
        <label for="category6">Naphtha (EV 1.4)</label><br>
        <input type="checkbox" name="categories" id="category7" value="Naphtha (EV 1.5)">
        <label for="category7">Naphtha (EV 1.5)</label><br>
        <input type="checkbox" name="categories" id="category8" value="Non-cellulosic Ethanol (EV 1.0)">
        <label for="category8">Non-cellulosic Ethanol (EV 1.0)</label><br>
        <input type="checkbox" name="categories" id="category9" value="Non-ester Renewable Diesel (EV 1.6)">
        <label for="category9">Non-ester Renewable Diesel (EV 1.6)</label><br>
        <input type="checkbox" name="categories" id="category10" value="Non-ester Renewable Diesel (EV 1.7)">
        <label for="category10">Non-ester Renewable Diesel (EV 1.7)</label><br>
        <input type="checkbox" name="categories" id="category11" value="Renewable Compressed Natural Gas">
        <label for="category11">Renewable Compressed Natural Gas</label><br>
        <input type="checkbox" name="categories" id="category12" value="Renewable Heating Oil (EV 1.6)">
        <label for="category12">Renewable Heating Oil (EV 1.6)</label><br>
        <input type="checkbox" name="categories" id="category13" value="Renewable Jet Fuel (EV 1.6)">
        <label for="category13">Renewable Jet Fuel (EV 1.6)</label><br>
        <input type="checkbox" name="categories" id="category14" value="Renewable Liquefied Natural Gas">
        <label for="category14">Renewable Liquefied Natural Gas</label><br>
        <br>
        <p>Choose Output</p>
        <input type="radio" name="options" id="option1" value="RINs"> RINs <br>
        <input type="radio" name="options" id="option2" value="Volume (Gal.)"> Volume (Gal.) <br>
        <p><input type="submit" value="Submit"></p>
        </form>
    <br>
    <img src = "{{url}}" alt = "Chart" width="1000">
</html>